### Ex-3

# Housing Market

### Introduction:

This time we will create our own dataset with fictional numbers to describe a house market. As we are going to create random data don't try to reason of the numbers.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Create 3 differents Series, each of length 100, as follows: 
1. The first a random number from 1 to 4 
2. The second a random number from 1 to 3
3. The third a random number from 10,000 to 30,000

In [2]:
series1= pd.Series(np.random.randint(1,5,100))
series2= pd.Series(np.random.randint(1,4,100))
series3= pd.Series(np.random.randint(10000,30001,100))

### Step 3. Let's create a DataFrame by joinning the Series by column

In [3]:
df= pd.concat([series1,series2,series3],axis=1)

### Step 4. Change the name of the columns to bedrs, bathrs, price_sqr_meter

In [4]:
df=df.rename({0:"bedrs",1:"bathrs",2:"price_sqr_meter"},axis=1)

### Step 5. Create a one column DataFrame with the values of the 3 Series and assign it to 'bigcolumn'

In [5]:
bigcolumn=pd.DataFrame(pd.concat([series1,series2,series3],axis=0))
bigcolumn

        0
0       2
1       3
2       4
3       4
4       2
..    ...
95  14934
96  15426
97  28036
98  11779
99  16872

[300 rows x 1 columns]

### Step 6. Oops, it seems it is going only until index 99. Is it true?

In [6]:
bigcolumn.index

Int64Index([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9,
            ...
            90, 91, 92, 93, 94, 95, 96, 97, 98, 99],
           dtype='int64', length=300)

### Step 7. Reindex the DataFrame so it goes from 0 to 299

In [7]:
# Solution 1
bigcolumn.index = pd.RangeIndex(0,300)
bigcolumn

In [8]:
# Solution 2
bigcolumn.reset_index(drop=True, inplace=True)
bigcolumn

         0
0        2
1        3
2        4
3        4
4        2
..     ...
295  14934
296  15426
297  28036
298  11779
299  16872

[300 rows x 1 columns]